/* src/styles/Global.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    padding-top: 60px;
}